streamlit
python-dotenv
pandas

#Document Process Libraries 
pypdf
python-docx
docx2txt

# LangChain
langchain
langchain-openai
langchain-community
langchain-core
tiktoken
langchain-experimental

#Vector Database
faiss-cpu